/* Pulsing Animation */
/* animation: pulse 2000ms ease-in-out infinite */

@keyframes pulse {

    from {

        -webkit-transform: scale(1.0, 1.0);
        -moz-transform: scale(1.0, 1.0);
        -ms-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);

    }

    50% {

        -webkit-transform: scale(0.95, 0.95);
        -moz-transform: scale(0.95, 0.95);
        -ms-transform: scale(0.95, 0.95);
        -o-transform: scale(0.95, 0.95);
        transform: scale(0.95, 0.95);

    }

    to {

        -webkit-transform: scale(1.0, 1.0);
        -moz-transform: scale(1.0, 1.0);
        -ms-transform: scale(1.0, 1.0);
        -o-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);

    }

}